extends ../layouts/layout

block content
    nav.container.light-blue.lighten-1(role='navigation')
        .nav-wrapper
            a.brand-logo(href='') Logo
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href='/') Back
    .container
        h1 Login Page
        br
        form(role='form', action="/login", method="post").col.s12
            .input-field.col.s6
                input#user_name.validate(type='text', name="username")
                label(for='user_name') Enter Username

            .input-field.col.s6
                input#user_pass.validate(type='password', name="password")
                label(for='user_pass') Enter Password

            button.btn.btn-default(type='submit') Enter
            a(href='/')
                button.btn.btn-primary(type="button") Cancel

    block scripts
        script(src="/javascripts/register.js")