extends ../layouts/layout

block content
    nav.light-blue.lighten-1(role='navigation')
        .nav-wrapper
            a.brand-logo(href='') Logo
            ul#nav-mobile.right.hide-on-med-and-down
                li
                    a(href='/') Back
    .container
        h1 Login Page
        p.lead Say something worthwhile here.
        br
        form(role='form', action="/login", method="post")
            .form-group
                input.form-control(type='text', name="username", placeholder='Enter Username')
            .form-group
                input.form-control(type='password', name="password", placeholder='Password')
            button.btn.btn-default(type='submit') Submit

            a(href='/')
                button.btn.btn-primary(type="button") Cancel